<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">


<table class="table table-hover" >
    <thead>
        <tr>
            <th width="10%">id</th>
            <th width="30%">name </th>
            <th width="20%">user_name </th>
            <th width="40%">user_adress </th>
        </tr>
    </thead>
    <tbody>
        {% block content %}
            {% for info in userlist %}
                <tr>
                    <td>{{ info.user_id }}</td>
                    <td>{{ info.name }}</td>
                    <td>{{ info.user_name }}</td>
                    <td>{{ info.user_address }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    </tbody>
</table>